<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">{{ 'footer.copyright'|trans|raw }}</div>
        <div>
            {{ 'footer.internal'|trans }}
        </div>
    </div>
</div>