<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">{{ 'copyright'|trans({}, 'footer')|raw }}</div>
        <div>
            {{ 'internal'|trans({}, 'footer') }}
        </div>
    </div>
</div>