{% extends 'layout/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ 'login'|trans({}, 'security') }}</h3></div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label class="small mb-1" for="inputUsername">{{ 'username'|trans({}, 'security') }}</label>
                            <input type="text" value="" name="username" id="inputUsername" class="form-control py-4" required autofocus>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate_login_link') }}"
                        >
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-lg btn-partei" type="submit">
                                Sende Login Link
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
