{% extends 'layout/conatiner_fluid.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ 'pages.user.delete'|trans }}</h3></div>
                <div class="card-body">
                    <div class="form-group">
                        {% for error in errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
